html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%; 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #d0d0c0;
}

#board-panel {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

#board-container {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-flow: column;
    position: relative;
}

#button-panel {
    flex: 0 0 30px;
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
}

#left-buttons {
    flex: 1;
    white-space: nowrap;
}

#mid-buttons {
    display: flex;
    flex-flow: row;
    justify-content: right;
    gap: 5px;
}



.board {
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

svg {
    position: absolute;
}

.background {
    fill: none;
}

.background.shaded {
    fill: rgba(0,0,0,0.125);
}

.cell:hover .background {
    fill: rgba(255,255,255,0.375);
}

.cell {
    pointer-events: all;
}

.outline {
    fill: #d9b479;
    stroke: none;
}

.label {
    font-family: Helvetica,sans-serif;
    font-weight: normal;
    text-anchor: middle;
    font-size: 30px;
}

.stonelabel,.swaplabel {
    display: none;
    font-family: Helvetica,sans-serif;
    font-weight: normal;
    text-anchor: middle;
    font-size: 30px;
}

.black .stonelabel, .black .swaplabel {
    fill: white;
}

.white .stonelabel, .white .swaplabel {
    fill: black;
}

.numbered .stone .stonelabel {
    display: block;
}

.numbered .swap .stonelabel {
    display: none;
}

.redblue .white .stonelabel, .redblue .white .swaplabel {
    fill: white;
}

.black-border {
    fill: #000000;
    stroke: #000000;
    stroke-width: 4;
}

.white-border {
    fill: #efe8e1;
    stroke: #000000;
    stroke-width: 4;
}

.redblue .black-border {
    fill: #ff0000;
}

.redblue .white-border {
    fill: #0000ff;
}

.grid {
    stroke: #000000;
    stroke-width: 4;
    fill: none;
}

.dot {
    display: none;
}

.stone.last .dot {
    display: block;
}

/* We have to double up .dot to ensure this rule takes precedence over
   the previous one, because of CSS's strange precedence rules. */
.numbered .dot.dot {
    display: none;
}

.swap .dot.dot {
    display: none;
}

.swaplabel {
    display: none;
}

.numbered .stone.swap .swaplabel {
    display: block;
}

.stone.last.swap .swaplabel {
    display: block;
}

.stone-circle {
    display: none;
}

.black .dot {
    fill: #c0c0c0;
}

.black .stone-circle {
    display: block;
    fill: url('#black-gradient');
    filter: url("#shadow");
    transform: scale(0.43);
}

.redblue .black .stone-circle {
    display: block;
    fill: url('#red-gradient');
    filter: url("#shadow2");
    transform: scale(0.42);
}

.redblue .black .dot {
    fill: #ffffff;
}

.redblue .white .dot {
    fill: #ffffff;
}

.white .stone-circle {
    display: block;
    fill: url('#white-gradient');
    filter: url("#shadow");
    transform: scale(0.42);
}

.white .dot {
    fill: #606060;
}

.redblue .white .stone-circle {
    display: block;
    fill: url('#blue-gradient');
    filter: url("#shadow");
    transform: scale(0.43);
}

.redblue .white .dot {
    fill: #c0c0c0;
}

.button {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
}

.button:hover:not(:disabled) {
    background-color: #ffffff;
}

.button:active:not(:disabled) {
    background-color: #d0d0d0;
}

#button-swap-pieces {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-swap-pieces:disabled {
    background-position: -0px -30px;
}

#button-swap-sides {
    background-image: url("images/buttons.svg");
    background-position: -300px 0px;
}

#button-swap-sides:disabled {
    background-position: -300px -30px;
}

#button-pass {
    background-image: url("images/buttons.svg");
    background-position: -330px 0px;
}

#button-pass:disabled {
    background-position: -330px -30px;
}

#button-resign-black {
    background-image: url("images/buttons.svg");
    background-position: -360px 0px;
}

#button-resign-black:disabled {
    background-position: -360px -30px;
}

#button-resign-white {
    background-image: url("images/buttons.svg");
    background-position: -390px 0px;
}

#button-resign-white:disabled {
    background-position: -390px -30px;
}

#button-resign {
    background-image: url("images/buttons.svg");
    background-position: -450px 0px;
}

#button-resign:disabled {
    background-position: -450px -30px;
}

#button-numbered {
    background-image: url("images/buttons.svg");
    background-position: -240px 0px;
}

#button-numbered:disabled {
    background-position: -240px -30px;
}

#button-numbered.checked {
    background-color: #d0d0d0;
}

#button-numbered.checked:hover {
    background-color: #dddddd;
}

#button-numbered.checked:active {
    background-color: #d0d0d0;
}

#button-menu {
    position: relative;
    background-image: url("images/buttons.svg");
    background-position: -270px 0px;
}

#button-menu:disabled {
    background-position: -270px -30px;
}

#button-rotate-left {
    background-image: url("images/buttons.svg");
    background-position: -30px 0px;
}

#button-rotate-left:disabled {
    background-position: -30px -30px;
}

#button-rotate-right {
    background-image: url("images/buttons.svg");
    background-position: -60px 0px;
}

#button-rotate-right:disabled {
    background-position: -60px -30px;
}

#button-first {
    background-image: url("images/buttons.svg");
    background-position: -180px 0px;
}

#button-first:disabled {
    background-position: -180px -30px;
}

#button-redo {
    background-image: url("images/buttons.svg");
    background-position: -150px 0px;
}

#button-redo:disabled {
    background-position: -150px -30px;
}

#button-undo {
    background-image: url("images/buttons.svg");
    background-position: -120px 0px;
}

#button-undo:disabled {
    background-position: -120px -30px;
}

#button-last {
    background-image: url("images/buttons.svg");
    background-position: -210px 0px;
}

#button-last:disabled {
    background-position: -210px -30px;
}

#button-clear:disabled {
    background-position: -420px -30px;
}

#button-resign {
    background-image: url("images/buttons.svg");
    background-position: -450px 0px;
}

#button-resign:disabled {
    background-position: -450px -30px;
}

#main {
    display: flex;
    width: 100%;
    flex-flow: row;
}

#movelist-panel {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-flow: column;
}

#movelist-controls {
    flex: 0 0 30px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 5px;
}

#movelist-container {
    flex: 1;
    //height: 100%;
    //box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: visible;
    min-width: 155px;
    background-color: #ffffff;
}

.move {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 0px 10px;
    font-family: monospace;
    margin-left: 0px;
    cursor: pointer;
    white-space: nowrap;
}

.move:hover {
    background-color: #f0f0f0;
}

.move.current {
    background-color: #fea;
}

.move.current:hover {
    background-color: #f0e0a0;
}

.move:active {
    background-color: #d0d0d0;
}

.move .number {
    display: inline-block;
    margin-right: 1ex;
    min-width: 3.5ex;
}

.move .player {
    display: inline;
    margin-right: 1.5ex;
}

.move .action {
    display: inline;
}

.cursor-black {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='7' fill='black' stroke='white' stroke-width='1'/></svg>") 8 8, auto;
}

.cursor-white {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='7' fill='white' stroke='black' stroke-width='1'/></svg>") 8 8, auto;
}

.redblue .cursor-black {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='7' fill='%23e00000' stroke='white' stroke-width='1'/></svg>") 8 8, auto;
}

.redblue .cursor-white {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><circle cx='8' cy='8' r='7' fill='%230000ff' stroke='white' stroke-width='1'/></svg>") 8 8, auto;
}

.menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    background-color: #f0f0f0;
    font-family: Helvetica,sans-serif;
    font-weight: normal;
    white-space: nowrap;
    cursor: default;
}

.menu-container.show .menu {
    display: block;
}

.menu-item,.menu-header {
    text-align: left;
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
    user-select: none;
}

.menu-divider {
    height: 5px;
}

.menu-container {
    position: relative;
}

.menu-item:hover:not(.disabled) {
    background-color: #ffffff;
}

.menu-item:active:not(.disabled) {
    background-color: #d0d0d0;
}

.menu-item.disabled {
    color: #c0c0c0;
}

.menu-item.indent {
    padding-left: 20px;
}

#input-size {
    width: 5.5ex;
}

/* normal desktop styles */
@media only screen and (max-width: 600px) and (orientation: portrait) { 
    #board-panel {
        padding-left: 0px;
    }
    
    #button-panel {
        margin-left: 10px;
        margin-right: 10px;
    }

    #main {
        flex-flow: column;
    }

    #movelist-panel {
        height: calc(100% - 100vw);
        min-height: 30%;
        align-items: center;
        padding-top: 0px;
    }

    #movelist-controls .button {
        margin-left: 10px;
        margin-right: 10px;
    }

    #movelist-container {
        width: 200px;
    }
}

@media only screen and (max-width: 400px) and (orientation: portrait) { 
    #left-buttons {
        font-size: 12px;
    }

    #left-buttons button {
        font-size: 11px;
    }
    
    input {
        font-size: 11px;
    }
}

@media only screen and (max-width: 319px) {
    #input-size {
        width: 2.5ex;
    }
}

@media only screen and (max-width: 519px) and (orientation: landscape) {
    #left-buttons {
        font-size: 12px;
    }

    #left-buttons button {
        font-size: 11px;
    }

    input {
        font-size: 11px;
    }
}

.about {
    padding: 10px;
    background-color: #e0e0d0;
}

.about pre {
    margin-left: 20px;
}
.about p {
    margin-left: 20px;
}

.about .codearea pre {
    background-color: #fffff8;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin-left: 0px;
    max-height: 80px;
    overflow-y: scroll;
}

.about .codearea {
    margin-left: 40px;
}

