html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%; 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#board-panel {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#board-container {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-flow: column;
    position: relative;
}

#buttons-container {
    flex: 0 0 20px;
}

.board {
    position: relative;
    box-sizing: border-box;
    background-color: #d9b479;
    background-image: url("images/wood.jpg");
    background-repeat: repeat;
    height: 100%;
}

svg {
    position: absolute;
}

.background {
    fill: none;
}

.background.shaded {
    fill: #00000018;
}

.cell:hover .background {
    fill: #ffffff60;
}

.cell {
    pointer-events: all;
}

.label {
    font-family: Helvetica,sans-serif;
    font-weight: normal;
    text-anchor: middle;
    font-size: 30px;
}

.black-border {
    fill: #000000;
    stroke: #000000;
    stroke-width: 4;
}

.white-border {
    fill: #efe8e1;
    stroke: #000000;
    stroke-width: 4;
}

.grid {
    stroke: #000000;
    stroke-width: 4;
    fill: none;
}

.stone {
    fill: #000000;
    display: none;
}

.black-stone {
    display: none;
}

.black .black-stone {
    display: block;
    fill: url('#black-gradient');
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, .5));
}

.white-stone {
    display: none;
}

.white .white-stone {
    display: block;
    fill: url('#white-gradient');
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, .5));
}

.button {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: 300px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.button:hover {
    background-color: #ffffff;
}

.button:active {
    background-color: #d0d0d0;
}

#button-swap-pieces {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-swap-sides {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-pass {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-resign-black {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-resign-white {
    background-image: url("images/buttons.svg");
    background-position: -0px 0px;
}

#button-rotate-left {
    background-image: url("images/buttons.svg");
    background-position: -30px 0px;
}

#button-rotate-right {
    background-image: url("images/buttons.svg");
    background-position: -60px 0px;
}

#button-first {
    background-image: url("images/buttons.svg");
    background-position: -180px 0px;
}

#button-redo {
    background-image: url("images/buttons.svg");
    background-position: -150px 0px;
}

#button-undo {
    background-image: url("images/buttons.svg");
    background-position: -120px 0px;
}

#button-last {
    background-image: url("images/buttons.svg");
    background-position: -210px 0px;
}
